<div class="container">

  <div class="row p-3">
    <div id="headingstyling" class="col-md-auto mx-auto card p-3 my-3">
      <h2 id="textcolor" class="mx-auto">Login</h2>


      <form id="cardstyling" class="form login-form p-3">
        <div class="form-group pt-3">
          <label for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group pt-3">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group pt-3">
          <button id="headingstyling" class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
      
    </div>

  </div>

  <div class="row p-3">
    <div id="headingstyling" class="col-md-auto mx-auto p-3 card">

      <h2 id="textcolor" class="mx-auto">Signup</h2>

      <form id="cardstyling" class="form signup-form p-3">
        <div class="form-group pt-3">
          <label for="username-signup">name:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group pt-3">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group pt-3">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group pt-3">
          <button id="headingstyling" class="btn btn-primary mx-auto" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
</div>


</div>

<script src="./js/login.js"></script>
</div>